.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown #dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover #dropdownMenu {
    display: block;
}

.dropdown #dropdownMenu a {
    display: block;
    padding: 12px 16px;
    color: black;
    text-decoration: none;
    font-family: 'VAG', sans-serif;
    font-size: 14px;
}

.dropdown #dropdownMenu a:hover {
    background-color: #f0f0f0;
}

.cover {

    max-width: 900px;
    width: 100%;
    height: auto;
    display: block;


    border-radius: 12px;
    overflow: hidden;
    margin: 20px auto;
}